{
  "ignition": {
    "config": {
      "merge": [
        {
          "source": "http://34.223.14.194:8080/ignition/master.ign",
          "verification": {}
        }
      ]
    },
    "timeouts": {},
    "version": "3.2.0"
  },
  "networkd": {},
  "passwd": {},
  "storage": {},
  "systemd": {}
}
