[connection]
id={{ connection_name }}
interface-name={{ device_name }}
type=ethernet

[ethernet]

[ipv4]
dns={{ bastion_ip }};
ignore-auto-dns=true
dns-search={{ dns_zone_name }}
method=auto

[ipv6]
addr-gen-mode=default
method=auto

[proxy]
