function snowballEdge()
{% raw %}{{% endraw %}

  /usr/local/bin/snowball-client-linux-1.2.0-870/bin/snowballEdge $@ --endpoint https://{{ sbe_endpoint }} --manifest-file {{ manifest }} --unlock-code {{ unlock }}

{% raw %}}{% endraw %}


function aws()
{% raw %}{{% endraw %}

  case $1 in

    ec2)
      /usr/local/bin/aws --profile snowballEdge --region snow --endpoint https://{{ non_s3_endpoint }}:{{ ec2_port }} --ca-bundle {{ aws_certificate_bundle }} $@
      ;;
{% if iam_enabled %}
    iam)
      /usr/local/bin/aws --profile snowballEdge --region snow --endpoint https://{{ non_s3_endpoint }}:{{ iam_port }} --ca-bundle {{ aws_certificate_bundle }} $@
      ;;
{% endif %}
{% if ssm_enabled %}
    ssm)
      /usr/local/bin/aws --profile snowballEdge --region snow --endpoint https://{{ non_s3_endpoint }}:{{ ssm_port }} --ca-bundle {{ aws_certificate_bundle }} $@
      ;;
{% endif %}
{% if sts_enabled %}
    sts)
      /usr/local/bin/aws --profile snowballEdge --region snow --endpoint https://{{ non_s3_endpoint }}:{{ sts_port }} --ca-bundle {{ aws_certificate_bundle }} $@
      ;;
{% endif %}
    *)
      /usr/local/bin/aws $@
      ;;

  esac
{% raw %}}{% endraw %}
